:root {
  --white: #ffffff;
  --violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--violet);
  padding: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 160px);
  grid-template-areas:
    'header . . .'
    'main main main main'
    'main main main main'
    'main main main main'
    '. . . footer';
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

img {
  max-width: 100%;
  display: block;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'hero title'
    'hero description'
    'hero button';
  gap: 0 59px;
}

#hero {
  grid-area: hero;
  grid-row: span 3;
  align-self: center;
}

#title {
  grid-area: title;
}

#description {
  grid-area: description;
}

#button {
  grid-area: button;
}
